include LICENSE
include README.md
include CHANGELOG.md
include defaults.env.example
include profiles.env.example
include credentials.env.example
include man/netloom.md
include man/netloom-clearpass.md
include scripts/netloom-completion.bash
recursive-include netloom/data/man *.1
recursive-include netloom/data/man *.7
recursive-include tests *.py
